In [8]:
import pandas as pd

# Carrega a tabela
tabela = pd.read_csv("contacts.csv")

# Função para corrigir os números de telefone
def corrigir_numero(numero):
    if pd.notna(numero):
        numero_str = str(numero)
        if not numero_str.startswith("+5561"):
            numero = "+5561" + numero_str
    return numero

# Aplica a função para corrigir os números de telefone na coluna desejada
tabela['Celular2'] = tabela['Celular2'].apply(corrigir_numero)

# Salva a tabela atualizada
tabela.to_csv("contacts.csv", index=False)
display(tabela)

,Groupo,Nome,Segundo nome,Sobrenome,Apelido,Empresa,Departamento,Celular,Celular2,Celular3,CelularTelefone,CelularTelefone2,Cel.Telefone,Cel.Telefone2,Notas,Foto
0,NaN,Abel,NaN,Luiz,NaN,NaN,NaN,+5561+5561+5561+556196852263,+556196852263,NaN,NaN,NaN,NaN,NaN,NaN,
1,NaN,Açaí,NaN,teria,NaN,NaN,NaN,+5561+5561+5561+55 62 9682-1693,+5561+556296821693,NaN,NaN,NaN,NaN,NaN,NaN,
2,NaN,Adson Luiz,Barbosa,MG,NaN,NaN,NaN,NaN,NaN,NaN,+55 38 9900-2099,+553899002099,NaN,NaN,NaN,
3,NaN,Afranio,NaN,Oliveira,NaN,NaN,NaN,NaN,NaN,NaN,+55 34 9994-1398,+553499941398,NaN,NaN,NaN,
4,NaN,Ágata,NaN,NaN,NaN,NaN,NaN,+5561+5561+556161 98497-5777,+556161984975777,NaN,NaN,NaN,NaN,NaN,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
317,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
318,NaN,NaN,NaN,NaN,NaN,NaN,NaN,+5561+5561+5561+556198094637,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,+5561+5561+5561+556198873981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,