In [7]:
import pandas as pd


def formatar(valor):
    return "5561{:.0f}".format(valor) #formatado

tabela = pd.read_excel("Enviar.xlsx")
tabela["Número"] = tabela["Número"].apply(formatar)
display(tabela)

  Pessoa           Número         Mensagem
0  Diego  556161999194045  Coe, ta doidao?
1   Alon  556161999999999  E aí, tudo bem?
2  Julia  556161999999999        Oi sumida

In [6]:
import pandas as pd
import re

def formatar(valor):
    numeros = re.findall(r'\d+', str(valor))  # Convertendo para string e extraindo apenas os números
    numero_completo = ''.join(numeros)  # Junta os números em uma string
    return "5561{}".format(numero_completo)  # Formata o número completo

tabela = pd.read_excel("Enviar.xlsx")
tabela["Número"] = tabela["Número"].apply(formatar)
display(tabela)

  Pessoa           Número         Mensagem
0  Diego  556161999194045  Coe, ta doidao?
1   Alon  556161999999999  E aí, tudo bem?
2  Julia  556161999999999        Oi sumida

In [2]:
import pandas as pd
import re

def formatar(valor):
    if len(str(valor)) == 5561:  # Verifica se o número já está formatado com o DDD
        return valor
    else:
        numeros = re.findall(r'\d+', str(valor))  # Convertendo para string e extraindo apenas os números
        numero_completo = ''.join(numeros)  # Junta os números em uma string
        return "5561{}".format(numero_completo)  # Formata o número completo

tabela = pd.read_excel("Enviar.xlsx")
tabela["Número"] = tabela["Número"].apply(formatar)
display(tabela)

  Pessoa           Número         Mensagem
0  Diego  556161999194045  Coe, ta doidao?
1   Alon  556161999999999  E aí, tudo bem?
2  Julia  556161999999999        Oi sumida