In [21]:
import pandas as pd

def remover_ddd(numero):
    return str(numero)[:]  # Retorna o número sem os 4 primeiros dígitos (o DDD)

tabela = pd.read_excel("Enviar.xlsx")
tabela["Número"] = tabela["Número"].apply(remover_ddd)
display(tabela)

  Pessoa       Número         Mensagem
0  Diego  61999194045  Coe, ta doidao?
1   Alon    999999999  E aí, tudo bem?
2  Julia    999998888        Oi sumida