In [3]:
import pandas as pd

contatos_df = pd.read_csv("contacts.csv")
display(contatos_df)

,Groupo,Nome,Segundo nome,Sobrenome,Apelido,Empresa,Departamento,Celular,Celular2,Celular3,CelularTelefone,CelularTelefone2,Cel.Telefone,Cel.Telefone2,Notas,Foto
0,NaN,Abel,NaN,Luiz,NaN,NaN,NaN,+556196852263,+556196852263,NaN,NaN,NaN,NaN,NaN,NaN,
1,NaN,Açaí,NaN,teria,NaN,NaN,NaN,+55 62 9682-1693,+556296821693,NaN,NaN,NaN,NaN,NaN,NaN,
2,NaN,Adson Luiz,Barbosa,MG,NaN,NaN,NaN,NaN,NaN,NaN,+55 38 9900-2099,+553899002099,NaN,NaN,NaN,
3,NaN,Afranio,NaN,Oliveira,NaN,NaN,NaN,NaN,NaN,NaN,+55 34 9994-1398,+553499941398,NaN,NaN,NaN,
4,NaN,Ágata,NaN,NaN,NaN,NaN,NaN,61 98497-5777,61984975777,NaN,NaN,NaN,NaN,NaN,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
317,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
318,NaN,NaN,NaN,NaN,NaN,NaN,NaN,+556198094637,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,+556198873981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,

In [ ]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import urllib

navegador = webdriver.Chrome()
navegador.get("https://web.whatsapp.com/")

while len(navegador.find_elements_by_id("side")) < 1:
    time.sleep(1)

# já estamos com o login feito no whatsapp web
for i, mensagem in enumerate(contatos_df['Mensagem']):
    pessoa = contatos_df.loc[i, "Pessoa"]
    numero = contatos_df.loc[i, "Número"]
    texto = urllib.parse.quote(f"Oi {pessoa}! {mensagem}")
    link = f"https://web.whatsapp.com/send?phone={numero}&text={texto}"
    navegador.get(link)
    while len(navegador.find_elements_by_id("side")) < 1:
        time.sleep(1)
    navegador.find_element_by_xpath('//*[@id="main"]/footer/div[1]/div[2]/div/div[2]').send_keys(Keys.ENTER)
    time.sleep(10)